@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  text-decoration-color: #34D399;
}

@layer components {
  .form-div {
    @apply text-left mx-auto w-10/12 ;
  }
  .form-element {
    @apply mb-4 p-1 border border-gray-500 w-full rounded;
  }
}