@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  text-decoration-color: #34D399;
}

@layer components {
  .form-div {
    @apply text-left;
  }
  .form-element {
    @apply border border-gray-500 w-full;
  }
}